<div class="bella-pele-foot"><span>Bella Pele - Feira De Santana</span></div>
<div class="facebook-link"></div>
<div class="face-description"><p>Clique aqui para ir à nossa página</p></div>
<div class="location-link">
  <i class="fa fa-map-marker"></i>
  <div class="location-desc">
    <p>Av João Durval Carneiro, n° 3665 - Edf. Multiplace ( Shopping Boulevard), 11ºA Sala 1107<br>
      CEP: 44051-335 Feira de Santana, Bahia<br>
      Fone: (75) 3221-0552 / 3614-0014 | administracao@clinicabellapele.com.br</p>
  </div>
</div>
<div class="back-to-top"><span><i class="fa fa-caret-up"></i>Voltar ao topo</span></div>
<div class="trademark"><p>	&copy; 2017 Clínica Bella Pele</p></div>
