<style>

.navmenu{
  width:100%;
  background-color: #262626;;
  height: 300px;
  position:absolute;
}
.navmenu-wrapper{
  width:800px;
  margin: 0 auto;
  max-width:100%;
}
.item{
  color: white;
  margin: 40px 10px 0 30px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid 8px white;
  text-align: center;
}
.item>h1{
  margin-top: 70px;
}

</style>

<div class="navmenu">
  <div class="navmenu-wrapper">
    <div class="item">
      <h1>Home</h1>
    </div>
    <div class="item">
      <h1>Fotos</h1>
    </div>
    <div class="item">
      <h1>Contato</h1>
    </div>
  </div>
</div>
